# set the udev rule , make the device_port be fixed by rplidar
#

KERNEL=="tty*", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0002", MODE="666", SYMLINK+="motorcontroller", GROUP="dialout"

